<!-- <h1>Password Generator!</h1>

<div>
  <label>Password length</label>
  <input (input)="onChangeLength($any($event.target).value)"/>
</div>

<div>
  <label>Use letters</label>
  <input (change)="onClickUseLetters()" type="checkbox">
</div>

<div>
  <label>Use symbols</label>
  <input (change)="onClickUseSymbols()" type="checkbox">
</div>

<div>
  <label>Use numbers</label>
  <input (change)="onClickUseNumbers()" type="checkbox">
</div>

<div>
  <button [disabled]="!(length && (useLetters || useSymbols || useNumbers))" (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label>Your Password!!</label>
  <input [value]="password"/>
</div>
{{password}} -->


<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" (input)="onChangeLength($any($event.target).value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onClickUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onClickUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onClickUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (useLetters || useSymbols || useNumbers))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        Generate!
      </button>

      <div class="box"*ngIf="password" >
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>